@model AussTennis.Models.Organizer

@{
    ViewData["Title"] = "TournamentAssign";
}

<h1>TournamentAssign</h1>

<h4>Organizer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TournamentAssign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssignedTournament" class="control-label"></label>
                <select asp-for="AssignedTournament" class="form-control">

                    <option value="0">Junior</option>
                    <option value="1">Mid-Level</option>
                    <option value="2">Senior</option>

                </select>
               
                <span asp-validation-for="AssignedTournament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="TournamentAssign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
