@{
    ViewData["Title"] = "Contact";
}
<div class="container" style="background-color: #f2f2f2">
    <div class="jumbotron" style="background-color:cornflowerblue;">
        <h2 style="color:white"><b>Assignment 3: AussTennis Management System</b></h2>
    </div>
    <h5><b>Contact detail of Sachham Karki</b></h5><br />
    <ul>
        <li>
            <h5><b>Mobile Number</b></h5>
            <p>0433878512</p>
        </li>
        <li>
            <h5><b>Email</b></h5>
            <p>sachham.karki@live.vu.edu.au</p>
        </li>
       
    </ul>


</div>
