@model IEnumerable<AussTennis.Models.ErrorViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="background-color: #f2f2f2">
    <div class="jumbotron" style="background-color:cornflowerblue;">
        <h2 style="color:white"><b>Assignment 3: AussTennis Management System</b></h2>
    </div>
    <h5><b>This application is developed by</b></h5><br />
    <ul>
        <li>
            <h5><b>Student Full Name</b></h5>
            <p>Sachham Karki</p>
        </li>
        <li>
            <h5><b>Student ID</b></h5>
            <p>s4602613</p>
        </li>
        <li>
            <h5><b>Locatiion </b></h5>
            <p>Footscray Park Campus</p>
        </li>
        <li>
            <h5><b>Locatiion </b></h5>
            <p>Footscray Park Campus</p>
        </li>

        <li>
            <h5><b>Locatiion </b></h5>
            <p>Footscray Park Campus</p>
        </li>
        <li>
            <h5><b>Week 3(Saturday 11:00pm)</b></h5>
        </li>
    </ul>

    <h5><b>College of Engineering and Science, Victoria University</b></h5><br />
</div>
